
<!--
params = <%= params.inspect %>

-->
<p>Are you sure you want to chop and burn it?</p>
<form action='/products/<%= @id %>/delete' method='post' >
      <button>Yes</button>      
</form>

<p></p>
<p></p>
<p><a href="/ ">Go back to Home</a></p>


