<hi>DOes it work?</hi>

<!--
params = <%= params.inspect %>

-->
<p>Are you sure you want to chop and burn it?</p>
<form action='/products/<%= @id %>/delete' method='post' >
      <button class = "back btn btn-danger">Yes</button>      

</form>
</p>



    <a class = "back btn" href="/">Home</a>

