<hi>Does it work?</hi>

<!--
params = <%= params.inspect %>

-->

<form action='/products/<%= @id %>' method='post' >
<p>
	<label for='product_name'>Product Name</label>
	<input type='text' name='product_name' />
</p>
<p>	
	<label for='product_price'>Product Price</label>
	<input type='text' name='product_price' />
</p>
<p>
    <input type="checkbox" class="checkbox" name="on_sale" value="t">Sale Item

<!-- 	<input type= 'submit' /> -->	
</p>
<p>
	<button>Update Products</button>
</p>

</form>



<p></p>
<p></p>
<p><a href="/ ">Go back to Home</a></p>


