<doctype html>
<html>
<head>
	<title>my cat
	</title>
	  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
	  <link rel="stylesheet" href="/style.css" >
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <script src="/bootstrap-dropdown.js"></script>

</head>
<body>
    <div class="container" id="wrapper">

            <%= erb :menu_nav_bar %>
        <div class="span11">

            <p>Catland Store</p>
            <p><%= yield %></p>
        </div>

    </div>

</body>
</html>



