    <div class="navbar span11">
      <div class="navbar-inner">
        <a class="brand" href="<%= @home %>">Catlandia</a>
        <ul class="nav">
          <%  request.path_info   # => '/hello-world' %>
          <% if request.path_info == '/users'%>
                    <li class="active"><a href="/users">Users</a></li>
                    <li><a href="/products">Product</a></li>
                    </ul>
                    <ul class="nav">
                      <li class="dropdown">
                        <a href=""
                              class="dropdown-toggle"
                              data-toggle="dropdown">
                              More
                              <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                         <li><a href="/products/new">New Products</a></li>
                        </ul>
                      </li>
                    </ul>
          <% elsif request.path_info == '/products'%>
                    <li><a href="/users">Users</a></li>
                    <li class="active"><a href="/products">Product</a></li>
                    </ul>
                    <ul class="nav">
                      <li class="dropdown">
                        <a href=""
                              class="dropdown-toggle"
                              data-toggle="dropdown">
                              More
                              <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                         <li><a href="/products/new">New Products</a></li>
                        </ul>
                      </li>
                    </ul>
          <% else request.path_info == '/products'%>
                    <li><a href="/users">Users</a></li>
                    <li><a href="/products">Product</a></li>
                    </ul>
                    <ul class="nav">
                      <li class="dropdown">
                        <a href=""
                              class="dropdown-toggle"
                              data-toggle="dropdown">
                              More
                              <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                         <li><a href="/products/new">New Products</a></li>
                        </ul>
                      </li>
                    </ul>
          
          <% end %> 

     
      </div>
    </div>
